body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 18% 82%;
  font-family: "Manuale", serif;
  line-height: 1.45;
}

nav {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #264653;
  color: #fff;
}

header {
  position: relative;
  display: grid;
  /*grid-template-rows: auto;*/
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #7d7e75;
  background-image: url(images/misty-trees.jpg);
  background-size: cover;
  background-position: 0px -40px;
  text-shadow: 0 0 14px #fff;
  color: black;
  /*background-color: #ceaf69;*/
}

main {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 25px 40px;
  background-color: #edf2f4;
}

button {
  border-style: none;
  font-family: "Istok-Web", sans-serif;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px 0px 15px;
  font-weight: 600;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 98%;
}

tr {
  border-bottom: .5px solid;
  background: #ccd4dd;
}

td {
  padding: 20px;
}

nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-area {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: solid 1.5px #264653;
}

.nav-toggle-container {
  display: inline-block;
  border-right: solid 1.5px #264653;
  height: 40px;
  width: 40px;
}

.toggle-nav-arrow {
  background-color: transparent;
  border-style: none;
  height: 10px;
  background-image: url(images/arrow-left.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-nav-menu-btn {
  background-color: transparent;
  border-style: none;
  height: 10px;
  background-image: url(images/menu-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-search {
  border-style: none;
  border-right: 1.5px solid #264653;
  /*height: 60px;*/
  width: 100%;
  background-color: transparent;
}

.nav-search::placeholder {
  color: #517583;
}

.home-nav-icon {
  background-color: transparent;
  border-style: none;
  border-right: solid 1.5px #264653;
  background-image: url(images/svg/006-home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 35px;
  width: 58px;
}

.map-nav-icon {
  background-color: transparent;
  border-style: none;
  border-right: solid 1.5px #264653;
  background-image: url(images/svg/map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 39px;
  width: 48px;
}

.grid-nav-icon {
  background-color: transparent;
  border-style: none;
  border-right: solid 1.5px #264653;
  background-image: url(images/svg/grid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 39px;
  width: 48px;
}

.page-title {
  grid-row-start: 2;
  grid-row-end: 3;
}

.site-link {
  color: #ef818e;
  text-decoration: underline;
  font-weight: 600;
}

/*Statistics area*/

.stat-tabs {
  border-bottom: .5px solid;
  margin-bottom: 0;
  font-family: "Isotok-Web", sans-serif;
}

.active-tab {
  border-bottom: solid 4px #ef818e;
}

.current-stats {
  display: flex;
  justify-content: space-between;
  padding: 0 0 35px 0;
  border-bottom: 1px solid #264653;
  width: 42%;
}

.circle-graph {
  display: inline-flex;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 12px solid;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.circle-graph p {
  margin: 0px;
}

.circle-graph-one {
  border-color: #3a3b7a;
}

.circle-graph-two {
  border-color: #3a3b7a #a08e78 #3a3b7a #3a3b7a;
}

.circle-graph-three {
  border-color: #ef818e;
}

/*Character Description Area*/

.description-section {
  display: flex;
}

.page-description {
  flex-direction: flex-start;
  width: 70%;
}

.table-description {
  background-color: #6690a0;
}

.edit-description {
  background-color: #486f7f;
}

.media-button {
  display: block;
  margin: 0 0 15px 0;
  height: 45px;
  width: 75%;
  min-width: 330px;
  color: #d8d3bc;
}

.send-raven {
  background-color: #3a1866;
}

.wanted-poster {
  background-color: #3a3b7a;
}

.request-lordship {
  background-color: #ef818e;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 36px 0 5px 36px;*/
  border-bottom: .5px solid;
}

#user-photo {
  margin: 27px auto 0px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.user p {
  margin: 10px;
}

/*.user-main a,
.allies a,
.user-enemies input {
  display: block;
}*/

.user-main {
  padding: 30px 0 30px 14px;
  border-bottom: .5px solid;
}

.allies {
  padding: 30px 0 30px 14px;
  border-bottom: .5px solid;
}

.user-enemies {
  padding: 30px 0 30px 14px;
  border-bottom: .5px solid;
}

.nav-icon {
  height: 25px;
}


