body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 18% 82%;
}

nav {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #4c1318;
  color: #d8d3bc;
}

header {
  display: grid;
  grid-template-rows: auto;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #ceaf69;
}

main {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 25px 40px;
  background-color: #d8d3bc;
}

button {
  border-style: none;
}

li {
  display: inline-block;
  list-style: none;
}

td {
  padding: 20px;
}

.search-area {
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: solid 1.5px saddlebrown;
}

.nav-toggle-container {
  display: inline-block;
  border-right: solid 1.5px saddlebrown;
  height: 40px;
  width: 40px;
}

.toggle-nav-arrow {
  background-color: transparent;
  border-style: none;
  height: 10px;
  background-image: url(images/arrow-left.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-nav-menu-btn {
  background-color: transparent;
  border-style: none;
  height: 10px;
  background-image: url(images/menu-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-search {
  border-style: none;
  border-right: 1.5px solid saddlebrown;
  height: 60px;
  width: 70%;
  background: #ceaf69;
}

.crown-nav-icon {
  background-color: transparent;
  border-style: none;
  border-right: solid 1.5px saddlebrown;
  background-image: url(images/crown-nav.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 35px;
  width: 58px;
}

.map-nav-icon {
  background-color: transparent;
  border-style: none;
  border-right: solid 1.5px saddlebrown;
  background-image: url(images/map-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 39px;
  width: 48px;
}

.grid-nav-icon {
  background-color: transparent;
  border-style: none;
  border-right: solid 1.5px saddlebrown;
  background-image: url(images/grid-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 39px;
  width: 48px;
}

.page-title {
  grid-row-start: 2;
  grid-row-end: 3;
}

.current-stats {
  padding: 0 0 35px 0;
  border-bottom: 1px solid saddlebrown;
}

.circle-graph {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 7px solid;
  text-align: center;
}

.circle-graph-one {
  border-color: #173C84 ;
}

.circle-graph-two {
  border-color: #963033 #A08E78 #963033 #963033;
}

.circle-graph-three {
  border-color: #3A3B7A;
}

.user{
  padding: 36px 0 5px 36px;
  border-bottom: .5px solid;
}

#user-photo {
  margin: auto;
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.user-main a,
.allies a,
.user-categories input {
  display: block;
}

.user-main {
  padding: 30px 0 30px 14px;
  border-bottom: .5px solid;
}

.allies {
  padding: 30px 0 30px 14px;
  border-bottom: .5px solid;
}

.user-categories {
  padding: 30px 0 30px 14px;
  border-bottom: .5px solid;
}

.nav-icon {
  height: 25px;
}

.description-section {
  display: flex;
}

.page-description {
  flex-direction: flex-start;
}




