body {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 18% 82%;
  font-family: "Manuale", serif;
  line-height: 1.45;
}

header {
  position: relative;
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #7d7e75;
  background-image: url(images/misty-trees.jpg);
  background-size: cover;
  background-position: 0px -40px;
  text-shadow: 0px 0px 14px #fff;
  color: #0d2128;
}

main {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0px 50px 25px 50px;
  background-color: #edf2f4;
  color: #0d2128;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: "Istok-Web", sans-serif;
  font-weight: 400;
  background-color: #264653;
  color: #fff;
}

label {
  margin: 10px 0px 4px 0px;
}

button,
input {
  border-style: none;
  font-family: "Istok-Web", sans-serif;
}

button:focus,
input:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
  margin: 10px 20px 0px 15px;
  padding: 3px 6px;
  list-style: none;
  font-weight: 600;
  background-color: rgba(255,255,255, 0.3);
}

table {
  /*table-layout: fixed;*/
  border-collapse: collapse;
  font-family: "Istok-Web", sans-serif;
  width: 93%;
}

th {
  /*width: 15px;*/
  padding: 23px 23px 0px;
  text-align: left;
  vertical-align: text-top;
}

tr {
  /*border-bottom: .5px solid;*/
  background: #ccd4dd;
}

td {
  vertical-align: text-top;
  padding: 20px 70px;
}

label {
  display: block;
}

nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}

nav a:hover {
  color: #efacb4;
}



/*Header area*/
  /*search bar inside header*/

.search-area {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: solid 1.5px #264653;
}

.nav-toggle-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1.5px #264653;
  height: 63px;
  width: 78px;
}

.nav-toggle-container:hover {
  background-color: #ef818e;
}

.toggle-nav-arrow {
  border-style: none;
  height: 10px;
}

.nav-search {
  padding: 0 12px;
  border-right: 1.5px solid #264653;
  border-style: none;
  text-indent: 30px;
  font-size: 1.1em;
  background-color: transparent;
  background-image: url(images/svg/search.svg);
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 14px 22px;
  height: 63px;
  width: 100%;
  color: #0d2128 ;
}

.nav-search::placeholder {
  color: #517583;
}

.search-icon {
  padding: 0px 15px;
  height: 63px;
  width: 32px;
  background-color: #b9bdc5;
}

.search-icon:hover {
  background-color: #ef818e;
}

#nav-hamburger {
  padding: 0px 15px 0px 0px;
  background-color: transparent;
}

.cabin-icon {
  border-left: solid 1.5px #264653;
}

.cabin-icon,
.planet-icon {
  border-right: 1.5px solid #264653;
}

.small-icon {
  padding: 0px;
  height: 10px;
  width: 10px;
  background-color: transparent;
}

  /*page title within header*/

.page-title {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
}

.page-title h1 {
  margin: 31px 0px 5px 54px;
}

.page-title p {
  margin: 0px 0px 5px 54px;
}

.site-link {
  margin: 0px 0px 0px 7px;
  text-decoration: underline;
  font-weight: 600;
  color: #ef818e;
}

.edit-page-btn-wrap {
  position: absolute;
  right: 33px;
  top: 31px;
}

.edit-page-btn {
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  border: solid 2px #264653;
  margin: 0px 3px;
  height: 50px;
  width: 50px;
  background-color: #b9bdc5;
}

.edit-page-btn:hover {
  background-color: #e2959e;
}

#long-edit-btn {
  justify-content: center;
  border-radius: 30px;
  width: 100px;
}

.active-light {
  display: inline-block;
  margin: 0px 3px 0px 0px;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  background-color: #237f76;
}

.edit-icon {
  height: 15px;
}

/*Statistics area*/

ul .search-icon {
  display: none;
}

.stat-tabs {
  border-bottom: .5px solid;
  margin-bottom: 0;
  font-family: "Istok-Web", sans-serif;
  color: #000;
}

.stat-tabs li:hover {
  border-bottom: solid 4px #ef818e;
}

.active-tab {
  border-bottom: solid 4px #ef818e;
}

.stats {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #264653;
  margin: 0px 0px 63px 0px;
  padding: 51px 0px 100px;
}

.current-stats {
  display: inline-flex;
  justify-content: space-between;
  margin: 0px 21px 0px 0px;
  width: 50%;
}

.circle-graph {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  /*transform: rotate(45deg);*/
  border: 12px solid;
  height: 137px;
  width: 137px;
}

.circle-graph p {
  margin: 0px;
  /*transform: rotate(-45deg);*/
}

.big-number {
  font-size: 1.4em;
}

.circle-graph-one {
  border-color: #3679a0 #b1b7c0 #3679a0 #3679a0;
}

.circle-graph-two {
  border-color: #237f76 #b1b7c0 #237f76 #237f76;
}

.circle-graph-three {
  border-color: #b1b7c0 #b24678 #b24678 #b1b7c0;
}

.bar-graph {
  height: 184px;
  width: 494px;
  background-color: #b1b7c0;
}

.circles-label,
.bar-graph-label {
  position: absolute;
  bottom: 29px;
  padding: 2px 8px;
  border: 3px solid #264653;
  border-radius: 20px;
  background-color: #ccd4dd;
  color: #264653;
}

.circles-label {
  left: 21%;
}

.bar-graph-label {
  right: 17%;
}

.create-space {
  position: absolute;
  right: 47%;
  top: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: #edf2f4;
}


#up-arrow-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 3px solid #264653;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background-color: #ccd4dd;
}

.up-arrow-container:hover {
  background-color: #e2959e;
}

.up-arrow-img {
  height: 18px;
}

/*Character Description Area*/

.description-section {
  display: flex;
}

.page-description {
  flex-direction: flex-start;
  width: 70%;
}

.table-description {
  height: 63px;
  background-color: #6690a0;
}

.pseudo-gallery {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.edit-description {
  background-color: #486f7f;
  color: #fff;
}

/*Social media*/

.social-media {
  width: 30%;
}

.media-button {
  display: flex;
  border-radius: 5px;
  margin: 0px 0px 15px 0px;
  height: 45px;
  width: 100%;
  color: #edf2f4;
}

.media-button p {
  margin: auto;
}

.media-img {
  align-self: flex-start;
  margin: 0px 0px 0px 10px;
  height: 15px;
}

.facebook {
  background-color: #3679a0;
}

.facebook:hover {
  background-color: #224d66;
}

.twitter {
  background-color: #237f76;
}

.twitter:hover {
  background-color: #17544e;
}

.instagram {
  background-color: #b24678;
}

.instagram:hover {
  background-color: #662744;
}

.links-away {
  position: relative;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  width: 100%;
  background-color: #ccd4dd;
}

.link-icon {
  height: 15px;
  margin: 0px 4px 0px 0px;
}

.pseudo-button {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  width: 73px;
  background-color: #e2959e;
  color: #edf2f4;
}

.pseudo-button:hover {
  background-color: #c94857;
}

.links-away p {
  margin: 0px;
  padding: 6px 78px 0px 0px;
  overflow-x: scroll;
  white-space: nowrap;
  height: 33px;
}

#link-wo-btn {
  padding: 6px 2px 0px;
}

::-webkit-scrollbar { 
    display: none; 
}

/*navigation*/

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #12303a;
  height: 235px;
}

#user-photo {
  border-radius: 100%;
  margin: 27px auto 0px;
  height: 80px;
  width: 80px;
}

.user-headings {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
}

.user p {
  margin: 10px;
}

.user-main {
  border-bottom: 2px solid #12303a;
  padding: 25px 0px 0px 14px;
  height: 184px;
}

.logistics {
  border-bottom: 2px solid #12303a;
  padding: 30px 0px 30px 14px;
}

.mountains-visited {
  border-bottom: 2px solid #12303a;
  padding: 30px 0px 30px 14px;
}

.nav-icon {
  margin: 10px 6px 4px 0px;
  text-indent: 24px;
  height: 18px;
  width: 18px;
  background-size: contain;
}

.nav-icon-landscape {
  background-image: url(images/svg/landscape.svg);
}

.nav-icon-landscape:hover {
  background-image: url(images/svg/landscape-hover.svg);
}

.nav-icon-forest {
  background-image: url(images/svg/forest-scene.svg);
}

.nav-icon-forest:hover {
  background-image: url(images/svg/forest-scene-hover.svg);
}

.nav-icon-stump {
  background-image: url(images/svg/tree-stump.svg);
}

.nav-icon-stump:hover {
  background-image: url(images/svg/tree-stump-hover.svg);
}

.nav-icon-leaves {
  background-image: url(images/svg/budding-leaves.svg);
}

.nav-icon-leaves:hover {
  background-image: url(images/svg/budding-leaves-hover.svg);
}

.nav-icon-raven {
  background-image: url(images/svg/raven.svg);
}

.nav-icon-raven:hover {
  background-image: url(images/svg/raven-hover.svg);
}

.nav-icon-bear {
  background-image: url(images/svg/bear.svg);
}

.nav-icon-bear:hover {
  background-image: url(images/svg/bear-hover.svg);
}

.nav-icon-tent {
  background-image: url(images/svg/tent.svg);
}

.nav-icon-tent:hover {
  background-image: url(images/svg/tent-hover.svg);
}

.nav-icon-raccoon {
  background-image: url(images/svg/raccoon.svg);
}

.nav-icon-raccoon:hover {
  background-image: url(images/svg/raccoon-hover.svg);
}

.nav-icon-tree {
  background-image: url(images/svg/tree.svg);
}

.nav-icon-tree:hover {
  background-image: url(images/svg/tree-hover.svg);
}

.nav-icon-mushroom {
  background-image: url(images/svg/mushroom.svg);
}

.nav-icon-mushroom:hover {
  background-image: url(images/svg/mushroom-hover.svg);
}

.nav-icon-hover {
  position: absolute;
  left: 13.6px;
  display: none;
}

.nav-icon-hover:hover {
  display: initial;
  height: 18.5px;
}

@media screen and (min-width: 1560px) {
  nav {
    font-size: 1.3em;
  }

  nav a {
    font-size: 1.3em;
  }

  .page-title h1 {
    font-size: 4em;
  }

  .page-title p,
  .page-title ul {
    font-size: 1.3em;
  }

  .search-icon {
    width: 50px;
  }

  .small-icon {
    width: 10px;
  }

  .nav-icon {
    text-indent: 34px;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .user-main {
    padding: 25px 0px 52px 14px;
  }

  .logistics {
    padding: 30px 0px 40px 14px;
  }

  .circle-graph {
    margin: 0px 3px;
    height: 167px;
    width: 167px;
  }
}

@media screen and (max-width: 1280px) {
  .stats {
    flex-direction: column;
  }

  .current-stats {
    /*justify-content: space-around;*/
    margin: 0px 0px 85px;
    width: 100%;
  }

  .circle-graph {
    height: 200px;
    width: 200px;
  }

  .circles-label {
    left: 42%;
    bottom: 291px;
  }

  .bar-graph-label {
    right: 43%;
  }

  .create-space {
    top: 95%;
  }
}

/*used to be at 770px*/
@media screen and (max-width: 1035px) {
  body {
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 18% 82%;
  } 

  .media-form {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 0px;
  }

  .description-section {
    flex-direction: column;
  }

  .page-description {
    width: 100%;
  }

  .create-space {
    right: 47%;
  }

  table {
    width: 100%;
  }

  .social-media {
    width: 100%;
  }

  .media-button {
    height: 56px;
    width: 31%;
    /*font-size: 0px;*/

  }

  .media-img {
    height: 30px;
  }
}

@media screen and (max-width: 990px) {
 body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18% 82%;
  } 

  header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  nav {
    display: none;
  }

  .circles-label {
    left: 43%;
  }
}

@media screen and (max-width: 810px) {
  li {
    margin: 10px 10px 0px 10px;
  }

  .circle-graph {
    height: 150px;
    width: 150px;
  }

  .circles-label {
    left: 40%;
  }

  .bar-graph-label {
    right: 41.5%;
  }

  .description-section {
    margin: auto;
  }
}

@media screen and (max-width: 740px) {
  .edit-page-btn-wrap {
    left: 114px;
    top: 121px;
  }

  .edit-page-btn {
    opacity: 0.7;
  }

  ul .search-icon {
    display: initial;
    border-radius: 25px;
    border: solid 2px #264653;
    height: 50px;
    opacity: 0.7;
  }

  .stat-tabs li {
    display: none;
  }

  .circles-label {
    left: 39%;
  }

  .bar-graph-label {
    right: 40.5%
  }
}

@media screen and (max-width: 640px) {
  main {
    padding: 0px 25px 25px 25px;
  }

  .current-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .circle-graph {
    margin: 0px 10px;
    height: 120px;
    width: 120px;
  }

  .bar-graph {
    width: auto;
  }

  .media-button {
    justify-content: center;
  }

  .media-button p {
    display: none;
  }

  .links-away {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .links-away p {
    white-space: normal;
  }
}

@media screen and (max-width: 435px) {
/*    body {
    width: 124%;
  }*/

  main {
    padding: 0px 15px 25px 6px;
  }

  header {
    background-position: 0px 0px;
  }

  th {
    padding: auto;
  }

  td {
    padding: 0px;
  }

  .edit-page-btn-wrap {
    display: none;
    /*right: 155px;
    top: 81px;*/
  }

  .cabin-icon,
  .planet-icon {
    display: none;
  }

/*  .edit-page-btn {
    height: 30px;
    width: 30px;
  }*/
}

